@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div>
        <h2>Login</h2>
        <p class="bottomBorder"></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.Label("username", "Username")
                    @Html.TextBox("username", null, new { @class = "form-control", placeholder = "Username" })
                </div>
                <div class="form-group">
                    @Html.Label("email", "Username")
                    @Html.TextBox("password", null, new { @class = "form-control", placeholder = "Username", type = "password" })
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-danger">Clear</button>              
            }
        </div>
    </div>
</div>

